<h1 class="project-name">
  <a href="/"><?js= env.package.name ?></a>

</h1>
<h2 class="project-tagline">
  <?js= env.package.description ?>
</h2>

<h2 class="project-version">
  <?js= env.package.version ?>
</h2>
