<!DOCTYPE html>
<html lang="en">
<head>
    <?js= this.partial('meta.tmpl', title) ?>
    <?js= this.partial('head.tmpl') ?>
    <script>hljs && hljs.initHighlightingOnLoad();</script>
</head>
<body>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>
<label for="nav-trigger" class="overlay"></label>

<?js= this.partial('header.tmpl') ?>
<nav>
    <?js= this.nav ?>
</nav>

<div id="main">
    <?js if (title != 'Home') { ?>
    <h1 class="page-title"><?js= title ?></h1>
    <?js } ?>

    <?js= content ?>
</div>

<br class="clear">
<?js= this.partial('footer.tmpl') ?>

<script src="scripts/linenumber.js"></script>
</body>
</html>
