  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><?js= ((env.conf.templates.meta && env.conf.templates.meta.title) || obj) ?></title>
<?js if (env.conf.templates.meta) { ?>
<?js if (env.conf.templates.meta.description) { ?>
  <meta name="description" content="<?js= env.conf.templates.meta.description ?>" /><?js } ?>
<?js if (env.conf.templates.meta.keyword) { ?>
  <meta name="keywords" content="<?js= env.conf.templates.meta.keyword ?>" />
  <meta name="keyword" content="<?js= env.conf.templates.meta.keyword ?>" /><?js } ?><?js } ?>
<?js if (env.conf.templates.openGraph) { ?>
  <meta property="og:title" content="<?js= env.conf.templates.openGraph.title ?>"/>
  <meta property="og:type" content="<?js= env.conf.templates.openGraph.type ?>"/>
  <meta property="og:image" content="<?js= env.conf.templates.openGraph.image ?>"/>
<?js if (env.conf.templates.openGraph.site_name) { ?>
  <meta property="og:site_name" content="<?js= env.conf.templates.openGraph.site_name ?>"/><?js } ?>
  <meta property="og:url" content="<?js= env.conf.templates.openGraph.url ?>"/><?js } ?>
