<?js
    var data = obj;
?>
    <section>
        <article>
            <pre class="source linenums"><code class="hljs js"><?js= data.code ?></code></pre>
        </article>
    </section>
    <script type="text/javascript">
      hljs.lineNumbersBlock(d3.select('.source .hljs').node())
    </script>
