<section class="tutorial">

<header>
    <?js if (children.length > 0) { ?>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <h2><?js= header ?></h2>
</header>

<?js
  content = this.extractTag(content, 'example', example=>{
    let script = example.replace(/<br>/g,'\n')
    return this.partial('example.tmpl', script)
  })
?>
<article>
    <?js= content ?>
</article>

</section>
